* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; background:black;} /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */

#searchBg {
	opacity: .70;
	position:fixed;
	width:275px;
	height:100%;
	top:30px;
	right:0px;
	background:#5A5A5A;
	border: solid 2px white;


}

#search {
	position:fixed;
	width:275px;
	height:100%;
	top:30px;
	right:0px;
	border: solid 2px white;
	color:white;

	padding: 0px;



}

#searchSpace {
	overflow-y: scroll;
	height:88%;
}

#searchTop {
	margin-bottom: 10px;
}

.result {
	display:block;
	border:solid 1px white;
	padding:3px;

}


.etabs { margin: 0; padding: 0;}
.tab { display: inline-block; zoom:1; *display:inline; border-bottom: solid 2px white; width:23%;}
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; text-decoration: none; color:white;}
.tab a:hover {text-decoration: none; color:white;}
.tab.active { background: #555; padding-top: 6px; position: relative; border-color: #666; border-bottom: solid 2px; width:23%;}
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; overflow-y: scroll;}